Automated.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM posts\nWHERE status = 'scheduled'\nAND scheduled_at <= NOW()\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        0
      ],
      "id": "64130c7f-1456-47d4-bc39-33ef81dd2580",
      "name": "Fetch Scheduled",
      "credentials": {
        "mySql": {
          "id": "fG3v25adkUNEisUf",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE posts\nSET status = 'processing'\nWHERE id = {{$json[\"id\"]}};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        416,
        0
      ],
      "id": "4db5e3c5-16e7-47e4-943b-4bf46ffa8c5d",
      "name": "Morph",
      "credentials": {
        "mySql": {
          "id": "fG3v25adkUNEisUf",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "3087fa50-ef96-4a33-9462-e1a5e8dc95c8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/d2050e0c-9cca-48e2-bb34-e63858781a17",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        -16
      ],
      "id": "6992b2cb-7dd4-4702-a158-fbfc97e7c43c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fc6a0009-9c2b-4d87-8dfb-142f55428c5e",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        -16
      ],
      "id": "94a18ece-b412-4732-ba72-256b08e5d9b8",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE posts\nSET status = 'posted'\nWHERE id = {{$node[\"Fetch Scheduled\"].json[\"id\"]}};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1264,
        -128
      ],
      "id": "ad202cee-adbc-48ce-ab39-d12d6186a8bc",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "fG3v25adkUNEisUf",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE posts\nSET \n  status = 'failed',\n  retry_count = retry_count + 1\nWHERE id = {{$node[\"Fetch Scheduled\"].json[\"id\"]}};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1264,
        96
      ],
      "id": "b27d5f8c-27cb-4360-af04-2077b996a31d",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "fG3v25adkUNEisUf",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6b0d426f-2108-4069-851a-dbcf6e298517",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Fetch Scheduled": {
      "main": [
        [
          {
            "node": "Morph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Morph": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch Scheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e76a78ebc2c5e14827400a0966dd52dcd8b172ce95f7733e012ddecabdc96a1b"
  }
}
